.chatbox-container {
  margin-right: 0.8em;
  width: 100%;
  padding-left: 15px;
  /* opacity: 0.7; */
  /* border: 1px solid #fbfbfb; */
  overflow: scroll;
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  background: rgba(255, 255, 255, 0.05);
  width: 600px;
  border-radius: 0.2em;
  position: relative;
  top: 100px;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
  & li {
    background: rgba(255, 255, 255, 0.2);
    padding: 1em 0;
    height: auto;
    width: fit-content;
    border-radius: 5px;
    margin-left: 0.2em;
    margin-bottom: 1.5em;
    border: none;
    font-family: "Nunito Sans", sans-serif;
    color: white;
    padding-left: 7px;
    padding-right: 7px;
    font-size: large;
    display: -webkit-box;
  }
  h1 {
    margin-top: 0.5em;
    margin-bottom: 1em;
    color: #fff;
    text-align: center;
    font-size: xx-large;
    font-family: "Nunito Sans", sans-serif;
  }
  overflow: scroll;
}

.message {
  list-style: none;
  margin-left: -48px;
  font-family: sans-serif;
  font-size: small;
  border: 1px solid white;
  display: inline-block;
  background-color: rgba(251, 251, 251, 0.5);
  padding: 3px;
  border-radius: 7px;
}

// .send {
//   /* position: absolute;
//    bottom: 90px; */
//   margin-top: 190px;
//   width: 88%;
//   margin-left: -15px;
//   z-index: -1;
// }

// .sender {
//   font-weight: bold;
// }
.chatbox-input-form {
  display: flex;
  justify-content: space-between;
}
.chatbox-input-form input {
  background: rgba(255, 255, 255, 0.06);
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  width: 68%;
  padding: 1.2em;
  outline: none;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  margin: 0;
}

.chatbox-container button {
  font-size: larger;
  background: rgba(255, 255, 255, 0.06);
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  width: 25%;
  padding: 1.2em;
  outline: none;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
  margin: 0;
}

// form > button {
//   box-sizing: content-box;
//   width: 6em;
//   font-family: sans-serif;
//   font-weight: 700;
//   color: white;
//   align-self: flex-end;
// }

// form > input {
//   font-family: 'Nunito Sans', sans-serif;
//   text-align: left;
//   padding-left: 1em;
//   font-size: large;
//   border-left: 0;
//   margin-left: 0;
//   margin-bottom: 0;
//   padding-bottom: 0;
//   box-sizing: content-box;
// }
