// .message-container {
//   display: flex;
// }

.message-li {
  display: flex;
  position: relative;
  padding: 3%;
  margin-left: 0%;
  flex-direction: column;
  word-break: break-word;
  p {
    border-radius: 5px;
    width: 100%;
    line-height: normal;
  }
  h6 {
    font-size: small;
    padding-bottom: 2%;
    color: #667fce;
    font-weight: 700;
  }
}

.message-container {
  background: rgba(255, 255, 255, 0.2);
  margin-bottom: 2px;
}

.message-container:hover {
  background-color: rgba(255, 255, 255, 0.432);
}

.message-header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
}

.message-li-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 25px;
}

li.reply {
    display: flex;
    flex-direction: column;
    padding-left: 9px;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 9px;
    border-bottom: 2px solid #83b1a3;
}

.message-li-buttons-change {
  display: flex;
  align-items: center;
  min-width: 87px;
}

input {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
}

button {
  font-family: sans-serif;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  color: white;
  border: none;
}

.replies-container {
    background-color: #7b66ce69;
    width: 300px;
    position: relative;
    left: -9px;
    border-top: 2px solid #545454;
    margin-top: 6px;
}

.send-reply-form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #7b66ce;
    flex-direction: column;
    padding: 5px 0px 5px;
}

.edit-form-container {
    height: 60px;
    margin-top: 10px;
}

.edit-message-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.edit-message-form-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

input.text-input-button2 {
    color: white;
    font-weight: 600;
    margin-right: 5px;
}

input.text-input-button2:hover {
cursor: pointer;
}

button.text-input-button2.delete {
    margin-right: 5px;
}

input.edit-form-input {
    height: 25px;
    color: white;
    padding-left: 7px;
}

.reply-form-buttons {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 3px;
}

.picker-wrapper-reply {
    margin-bottom: 5px;
}

.reply-options-header {
    display: flex;
    justify-content: space-between;
}

input.edit-form-input-reply {
    height: 25px;
    width: 277px;
    margin-top: 9px;
}

button:focus{
  outline: none;
}

.text-input-button-reply:hover {
  background-color: #7b66ce;
}