// .message-container {
//   display: flex;
// }

.message-li {
  display: flex;
  padding: 3%;
  margin-left: 0%;
  flex-direction: column;
  word-break: break-word;
  p {
    border-radius: 5px;
    width: 100%;
    line-height: normal;
  }
  h6 {
    font-size: small;
    padding-bottom: 2%;
    color: #667fce;
    font-weight: 700;
  }
}

.message-container {
  background: rgba(255, 255, 255, 0.2);
  margin-bottom: 2px;
}

.message-li-buttons {
  // margin-left: 2%;
  width: max-content;
}

.message-li-buttons-change {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
}

button {
  font-family: sans-serif;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  color: white;
  border: none;
}
