.session-form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: rgba(252, 248, 248, 0);
  justify-content: space-around;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  min-height: 240px;
}

.session-form-subcontainer {
  /* background: rgba(255, 255, 255, 0.05); */
  /* width: 30%; */
  height: 100%;
  /* border-radius: 0.2em; */
  /* position: relative; */
  /* top: 5%; */
  /* box-shadow: 1px 1px 12px rgb(0 0 0 / 10%); */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  // &__messages {
  //   &:nth-of-type(odd) .chatbox__messages__user-message--ind-message {
  //     float: right;
  //     &:after {
  //       content: "";
  //       position: absolute;
  //       margin: -1.5em -17.06em;
  //     }
  //   }
  & input {
    background: rgba(255, 255, 255, 0.2);
    padding: 1em 0.8em;
    height: auto;
    width: 100%;
    border-radius: 5px;
    margin: 0.5em 1em;
    border: none;
    font-size: 13px;
  }
  //   &:nth-of-type(even) .chatbox__messages__user-message--ind-message {
  //     float: left;
  //     &:after {
  //       content: "";
  //       position: absolute;
  //       margin: -1.5em 1.87em;
  //     }
  //   }
  // }
  // &__messages__user-message {
  //   width: 450px;
  // }
  // &__messages__user-message--ind-message {
  // background: rgba(255, 255, 255, 0.2);
  // padding: 1em 0;
  // height: auto;
  // width: 65%;
  // border-radius: 5px;
  // margin: 2em 1em;
  // overflow: auto;
  // }
}

// // Placeholder Styling
// ::-webkit-input-placeholder {
//   color: rgba(255, 255, 255, 0.9);
// }

// :-moz-placeholder {
//   color: rgba(255, 255, 255, 0.9);
// }

// ::-moz-placeholder {
//   color: rgba(255, 255, 255, 0.9);
// }

// :-ms-input-placeholder {
//   color: rgba(255, 255, 255, 0.9);
// }

#close-session-form-icon {
  color: white;
}
#close-session-form-icon:hover {
  cursor: pointer;
  color: rgb(209, 205, 205);
}

.close-session-form-icon-container {
  position: absolute;
  right: 2%;
  top: 2.5%;
}

::placeholder {
  font-family: "Nunito Sans", sans-serif;
  color: white;
  padding-left: 5px;
  font-size: large;
}

.session-form-button-container {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
}

.session-form-button-container > input {
  width: 100px;
  font-family: sans-serif;
  font-weight: 700;
  color: white;
  height: 40px;
}

.session-form-button-container > input:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.session-form-button-input {
  height: 25px;
}

.switch-form-link {
  font-family: sans-serif;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  width: 100px;
  height: 40px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch-form-link:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5) !important;
}

h1.typing-h1 {
  color: white;
  font-family: "Nunito Sans", sans-serif;
  text-align: left;
  font-size: large;
  margin-bottom: 11px;
  padding-bottom: 0;
  box-sizing: border-box;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 2.5s steps(30, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.session-form-text-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Nunito Sans", sans-serif;
  color: white;
  font-size: large;
  align-items: center;
  margin-top: 23px;
  margin-bottom: 10px;
}

input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.4) !important;
}
