.closed{
    width: 35px
}

.open{
    width: 100%
}

.chatbox-list{
    height: 700px;
    position: relative;
    overflow: hidden;   
}
.chatbox-container{
        overflow-y: auto;
        height: 80%;
        position: relative;
}
    
.input-container{
    position: fixed;
    bottom: 0;

}

.chat-img{
    width: 150px;
     border-radius: 4px;
}

.emoji-picker-react{
    font-size: 5px;
}

.chatbox-list{
    display: flex;
}