.closed{
    width: 35px
}

.open{
    width: 100%
}

.chatbox-list{
    height: 700px;
    position: relative;
    overflow: hidden;   
}
.chatbox-container{
        overflow-y: auto;
        height: 80%;
        position: relative;
}
    
.input-container{
    position: fixed;
    bottom: 0;
}

.chat-img{
    width: 150px;
     border-radius: 4px;
}

.emoji-picker-react{
    font-size: 5px;
}

.chatbox-list{
    display: flex;
    justify-content: space-evenly;
}

.reply{
    margin-left: 20px;
}
.myroomsdiv{
text-align: center;
    margin: 0 auto;
}

.myrooms{
    display: inline-flex;
    text-align: center;
    margin: 0 auto;
}

.myrooms li{
    list-style: none;
    margin: 5px;
    padding: 5px;
}
.myrooms li:hover{
   background-color: lightgray;
   border-radius: 5px;
   cursor: pointer;
}

li {
    list-style: none;
}