.giphy-search-input{
}

.giphy-ul{
   display: flex;
   border: 1px solid gray;
   background-color: black;
     padding: 4px;
     position: relative;
     right: 30px;
     bottom: 90px;
     height: 40px;
     width: 275px;
     overflow: hidden;
   
}
.giphy-ul:first-child {
   
}

.giphy-li-img{
   width: 93%;
   
 
}
.giphy-li-img:hover{
    width: 100%;
   cursor: pointer;
  
}

.giphy-li{
   list-style: none;
   padding: 3px;
}