.giphy-search {
    position: absolute;
    top: 596px;
    background-color: #6684ce;
    width: 300px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reply-giphy-search {
    background-color: #6684ce;
    width: 280px;
    margin: 4px 0 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}


.giphy-ul {
    display: flex;
    padding: 4px;
    right: 30px;
    bottom: 90px;
    height: 57px;
    width: 291px;
    overflow: hidden;
    top: -125px;
}
.giphy-ul:first-child {
   
}
.reply-giphydiv{
    
}

.reply-giphy-ul {
    display: flex;
    padding: 4px;
    right: 30px;
    bottom: 90px;
    height: 57px;
    width: 285px;
    overflow: hidden;
    top: -125px;
}
.reply-giphy-ul:first-child {
   
}


.giphy-li-img{
   width: 93%;
   
 
}
.giphy-li-img:hover{
    width: 100%;
   cursor: pointer;
  
}

.giphy-li{
   list-style: none;
   padding: 3px;
}

.giphy-search-input {
    padding: 1px 2px;
    height: 25px;
    box-sizing: border-box;
    width: 270px;
    position: relative;
    top: -8px;
}

.giphy-search-input::placeholder {
  color: #f5f0f069;
  padding: 0px 2px 0px 2px;
}

.giphydiv {
    height: 25px;
}

img.giphy-li-img {
    max-height: 44px;
}